<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bich Diep Store - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="slide.css">
</head>

<body>
    <!-- header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 bg-black px-4 text-light roboto-small">
                Hotline mua hàng: 0912 345 678 (8h30 - 21h30, Tất cả các ngày trong
                tuần)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header mx-4 d-flex justify-content-between align-items-center">
                    <div class="logo">
                        <a href="index.html"><img src="../images/Logo ngang.png"></a>
                    </div>
                    <div class="menu d-flex justify-content-between">
                        <a href="index.html" class="text-dark">Trang chủ</a>
                        <a href="" class="text-dark">Sản phẩm mới</a>
                        <div class="dropdown">
                            <a href="sp-ao.html" class="dropdown-toggle text-dark">
                                Áo Nam
                            </a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item text-dark roboto-small py-3">Áo thun</a>
                                <a href="#" class="dropdown-item text-dark roboto-small py-3">Áo Polo</a>
                                <a href="#" class="dropdown-item text-dark roboto-small py-3">Áo sơ mi</a>
                                <a href="#" class="dropdown-item text-dark roboto-small py-3">Áo khoác Jeans</a>
                                <a href="#" class="dropdown-item text-dark roboto-small py-3">Áo nỉ</a>
                                <a href="#" class="dropdown-item text-dark roboto-small py-3">Áo Blazer</a>
                                <a href="#" class="dropdown-item text-dark roboto-small py-3">Cardigan</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a href="sp-quan.html" class="dropdown-toggle text-dark">
                                Quần Nam
                            </a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item text-dark roboto-small py-3">Quần Âu</a>
                                <a href="#" class="dropdown-item text-dark roboto-small py-3">Quần Jeans</a>
                                <a href="#" class="dropdown-item text-dark roboto-small py-3">Quần Kaki</a>
                                <a href="#" class="dropdown-item text-dark roboto-small py-3">Quần Jogger</a>
                                <a href="#" class="dropdown-item text-dark roboto-small py-3">Quần Short</a>
                            </div>
                        </div>
                        <a href="#" class="text-dark">Về chúng tôi</a>
                        <a href="#" class="text-dark">Liên hệ</a>
                    </div>
                    <div class="right">
                        <a href="#" class="text-dark">
                            <div class="cart right-icon">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="roboto-mini">Giỏ hàng</div>
                            </div>
                        </a>
                        <a href="#" class="text-dark">
                            <div class="cart right-icon">
                                <i class="fa-solid fa-bell"></i>
                                <div class="roboto-mini">Thông báo</div>
                            </div>
                        </a>
                        <a href="dang-nhap.html" class="text-dark">
                            <div class="cart right-icon">
                                <i class="fa-solid fa-user"></i>
                                <pdiv class="roboto-mini">Đăng nhập</pdiv>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Banner -->
    <div class="container-fluid">
        <div class="row">
            <div class="slide-show">
                <div class="list-images">
                    <img src="../images/banner1.jpg" class="img">
                    <img src="../images/banner2.jpg" class="img">
                    <img src="../images/banner3.jpg" class="img">
                </div>
                <div class="btns">
                    <div class="btn-left btn">
                        <i class="fa-solid fa-chevron-left fa-2x"></i>
                    </div>
                    <div class="btn-right btn">
                        <i class="fa-solid fa-chevron-right fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Danh mục sản phẩm -->
    <div class="container-fluid text-center p-5 bg-black bg-opacity-10">
        <h2 class="mb-4">Danh Mục Sản Phẩm</h2>
        <div class="row justify-content-center p-3">
            <div class="col-3 p-2">
                <a href="">
                    <div class="bg-light d-flex align-items-center justify-content-evenly border-radius-20 pro">
                        <p class="roboto-title">Áo khoác</p>
                        <img src="../images/AKGOL418-35-510x510.png" width="120px">
                    </div>
                </a>
            </div>
            <div class="col-3 p-2">
                <a href="">
                    <div class="bg-light d-flex align-items-center justify-content-evenly border-radius-20 pro">
                        <p class="roboto-title">Áo nỉ</p>
                        <img src="../images/ANHTK504-1.png" width="120px">
                    </div>
                </a>
            </div>
            <div class="col-3 p-2">
                <a href="">
                    <div class="bg-light d-flex align-items-center justify-content-evenly border-radius-20 pro">
                        <p class="roboto-title">Sơ mi</p>
                        <img src="../images/SKDTK527-1-510x510.png" width="120px">
                    </div>
                </a>
            </div>
            <div class="col-3 p-2">
                <a href="">
                    <div class="bg-light d-flex align-items-center justify-content-evenly border-radius-20 pro">
                        <p class="roboto-title">Áo Khoác Jeans</p>
                        <img src="../images/AKBTK502-1.png" width="120px">
                    </div>
                </a>
            </div>
            <div class="col-3 p-2">
                <a href="">
                    <div class="bg-light d-flex align-items-center justify-content-evenly border-radius-20 pro">
                        <p class="roboto-title">Quần Jogger</p>
                        <img src="../images/QGNTK506-1-510x510.png" width="120px">
                    </div>
                </a>
            </div>
            <div class="col-3 p-2">
                <a href="">
                    <div class="bg-light d-flex align-items-center justify-content-evenly border-radius-20 pro">
                        <p class="roboto-title">Quần Kaki</p>
                        <img src="../images/QKLTK404-3-768x768.png" width="120px">
                    </div>
                </a>
            </div>
            <div class="col-3 p-2">
                <a href="">
                    <div class="bg-light d-flex align-items-center justify-content-evenly border-radius-20 pro">
                        <p class="roboto-title">Quần Jeans</p>
                        <img src="../images/QJDTK506-1-768x768.png" width="120px">
                    </div>
                </a>
            </div>
            <div class="col-3 p-2">
                <a href="">
                    <div class="bg-light d-flex align-items-center justify-content-evenly border-radius-20 pro">
                        <p class="roboto-title">Quần Âu</p>
                        <img src="../images/QATTK408-1-1.png" width="120px">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Sản phẩm mới -->
    <div class="container-fluid my-5 px-5">
        <h3>Sản phẩm mới</h3>
        <div class="row text-center">
            <div class="col-lg-2">
                <div class="card product-card">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="New Product 1"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title">Tên sản phẩm</p>
                        <p class="roboto-small">$500</p>
                    </div>
                    <div class="card-overlay">
                        <a href="sp-chitiet.html">
                            <button class="btn btn-light mb-2">Xem chi tiết</button>
                        </a>
                        <a href="">
                            <button class="btn btn-light mb-2">Thêm vào giỏ</button>
                        </a>
                        <a href="">
                            <button class="btn btn-dark">Mua hàng</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card product-card">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="New Product 1"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title">Tên sản phẩm</p>
                        <p class="roboto-small">$500</p>
                    </div>
                    <div class="card-overlay">
                        <a href="sp-chitiet.html">
                            <button class="btn btn-light mb-2">Xem chi tiết</button>
                        </a>
                        <a href="">
                            <button class="btn btn-light mb-2">Thêm vào giỏ</button>
                        </a>
                        <a href="">
                            <button class="btn btn-dark">Mua hàng</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card product-card">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="New Product 1"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title">Tên sản phẩm</p>
                        <p class="roboto-small">$500</p>
                    </div>
                    <div class="card-overlay">
                        <a href="sp-chitiet.html">
                            <button class="btn btn-light mb-2">Xem chi tiết</button>
                        </a>
                        <a href="">
                            <button class="btn btn-light mb-2">Thêm vào giỏ</button>
                        </a>
                        <a href="">
                            <button class="btn btn-dark">Mua hàng</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card product-card">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="New Product 1"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title">Tên sản phẩm</p>
                        <p class="roboto-small">$500</p>
                    </div>
                    <div class="card-overlay">
                        <a href="sp-chitiet.html">
                            <button class="btn btn-light mb-2">Xem chi tiết</button>
                        </a>
                        <a href="">
                            <button class="btn btn-light mb-2">Thêm vào giỏ</button>
                        </a>
                        <a href="">
                            <button class="btn btn-dark">Mua hàng</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card product-card">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="New Product 1"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title">Tên sản phẩm</p>
                        <p class="roboto-small">$500</p>
                    </div>
                    <div class="card-overlay">
                        <a href="sp-chitiet.html">
                            <button class="btn btn-light mb-2">Xem chi tiết</button>
                        </a>
                        <a href="">
                            <button class="btn btn-light mb-2">Thêm vào giỏ</button>
                        </a>
                        <a href="">
                            <button class="btn btn-dark">Mua hàng</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card product-card">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="New Product 1"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title">Tên sản phẩm</p>
                        <p class="roboto-small">$500</p>
                    </div>
                    <div class="card-overlay">
                        <a href="sp-chitiet.html">
                            <button class="btn btn-light mb-2">Xem chi tiết</button>
                        </a>
                        <a href="">
                            <button class="btn btn-light mb-2">Thêm vào giỏ</button>
                        </a>
                        <a href="">
                            <button class="btn btn-dark">Mua hàng</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sản phẩm bán chạy -->
    <div class="container-fluid my-5 px-5">
        <h3>Sản phẩm bán chạy</h3>
        <div class="row text-center">
            <div class="col-lg-2">
                <div class="card product-card">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="Bestseller Product 1"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title">Tên sản phẩm</p>
                        <p class="roboto-small">$500</p>
                    </div>
                    <div class="card-overlay">
                        <a href="sp-chitiet.html">
                            <button class="btn btn-light mb-2">Xem chi tiết</button>
                        </a>
                        <a href="">
                            <button class="btn btn-light mb-2">Thêm vào giỏ</button>
                        </a>
                        <a href="">
                            <button class="btn btn-dark">Mua hàng</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card product-card">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="Bestseller Product 1"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title">Tên sản phẩm</p>
                        <p class="roboto-small">$500</p>
                    </div>
                    <div class="card-overlay">
                        <a href="sp-chitiet.html">
                            <button class="btn btn-light mb-2">Xem chi tiết</button>
                        </a>
                        <a href="">
                            <button class="btn btn-light mb-2">Thêm vào giỏ</button>
                        </a>
                        <a href="">
                            <button class="btn btn-dark">Mua hàng</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card product-card">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="Bestseller Product 1"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title">Tên sản phẩm</p>
                        <p class="roboto-small">$500</p>
                    </div>
                    <div class="card-overlay">
                        <a href="sp-chitiet.html">
                            <button class="btn btn-light mb-2">Xem chi tiết</button>
                        </a>
                        <a href="">
                            <button class="btn btn-light mb-2">Thêm vào giỏ</button>
                        </a>
                        <a href="">
                            <button class="btn btn-dark">Mua hàng</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card product-card">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="Bestseller Product 1"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title">Tên sản phẩm</p>
                        <p class="roboto-small">$500</p>
                    </div>
                    <div class="card-overlay">
                        <a href="sp-chitiet.html">
                            <button class="btn btn-light mb-2">Xem chi tiết</button>
                        </a>
                        <a href="">
                            <button class="btn btn-light mb-2">Thêm vào giỏ</button>
                        </a>
                        <a href="">
                            <button class="btn btn-dark">Mua hàng</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card product-card">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="Bestseller Product 1"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title">Tên sản phẩm</p>
                        <p class="roboto-small">$500</p>
                    </div>
                    <div class="card-overlay">
                        <a href="sp-chitiet.html">
                            <button class="btn btn-light mb-2">Xem chi tiết</button>
                        </a>
                        <a href="">
                            <button class="btn btn-light mb-2">Thêm vào giỏ</button>
                        </a>
                        <a href="">
                            <button class="btn btn-dark">Mua hàng</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card product-card">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="Bestseller Product 1"
                        height="300px">
                    <div class="card-body">
                        <p class="card-title">Tên sản phẩm</p>
                        <p class="roboto-small">$500</p>
                    </div>
                    <div class="card-overlay">
                        <a href="sp-chitiet.html">
                            <button class="btn btn-light mb-2">Xem chi tiết</button>
                        </a>
                        <a href="">
                            <button class="btn btn-light mb-2">Thêm vào giỏ</button>
                        </a>
                        <a href="">
                            <button class="btn btn-dark">Mua hàng</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Dánh giá -->
    <div class="container my-5">
        <h3>Đánh giá sản phẩm</h3>
        <div class="row text-center">
            <div class="col-lg-3">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <div class="d-flex flex-column w-50">
                            <img src="https://via.placeholder.com/50" class="rounded-circle" alt="Reviewer 1">
                            <p class="roboto-small">Tên khách hàng</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <div class="d-flex flex-column w-50">
                            <img src="https://via.placeholder.com/50" class="rounded-circle" alt="Reviewer 1">
                            <p class="roboto-small">Tên khách hàng</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <div class="d-flex flex-column w-50">
                            <img src="https://via.placeholder.com/50" class="rounded-circle" alt="Reviewer 1">
                            <p class="roboto-small">Tên khách hàng</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <div class="d-flex flex-column w-50">
                            <img src="https://via.placeholder.com/50" class="rounded-circle" alt="Reviewer 1">
                            <p class="roboto-small">Tên khách hàng</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="search-container">
        <button class="search-btn" id="searchBtn">
            <i class="fas fa-search"></i> <!-- Icon tìm kiếm -->
        </button>
        <input type="text" class="search-input" id="searchInput" placeholder="Tìm kiếm...">
    </div>

  <!-- Footer -->
  <footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i><img src="../images/Logo ngang.png" alt="">
            </h6>
            <p>
                Dẫn đầu phong cách - Tự tin khẳng định chất riêng!
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Hà Nội, HN 10000, VN</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              bich-diep-store@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 MadeBy:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">HUYDZVCL.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="index.js"></script>
    <script src="https://kit.fontawesome.com/e42cab711e.js" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
</body>

</html>